<h1>Turner's Travel Blog</h1>

 <ul>
   <% for place in @places %>
    <li>
    <a href="/places/new"><%= place.name %></a>
    </li>
   <% end %>
</ul>

<p>
 <a href="/places/new">Enter a new place</a>
</p>