<h1><%= @place.name%></h1>

<p>
 <a href="/posts/new?place_id=<%=@place.id%>">Add a new post for this location?</a>
</p>

 <ul>
   <% for post in  @place.posts%>
    <li>
    <%="#{post.title} \n #{post.description} \n Posted on #{post.posted_on} "%>
    </li>
   <% end %>
</ul>

<p>
 <a href="/places">Return to Home Page</a>
</p>